.git
.gitignore

# .venv
# venv
__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

dist
build
*.egg-info

.env
.env.*

storage
logs

.idea
.vscode

*.ipynb

# tests
# docs
# migrations
# scripts

infra/docker

.github

# *.md
.coverage
htmlcov

Dockerfile.api
Dockerfile.worker